@import "@unioncredit/ui/src/variables";

.CreditStats {

  .Card__footer {
    @media screen and (max-width: $breakpoint-mobile) {
      align-items: flex-start !important;
      flex-direction: column !important;
    }

    .button {
      @media screen and (max-width: $breakpoint-mobile) {
        margin-top: 16px;
        width: 100%;
      }
    }
  }
}

.CreditStats--overdue {
  .Card__footer {
    background: $red50;

    p {
      color: $red600 !important;
    }
    button {
      color: white;
      background: $red500;

      path {
        fill: white;
      }

      &:hover {
        background: $red400;
      }
      &:active {
        background: $red600;
      }
    }

    path {
      fill: $red600;
    }
  }
}