.card.NetworkSelect__innerCard {
  cursor: pointer;

  .NetworkSelect__contentBox {
    border-left: 1px solid #e7e5e4;
  }

  &--active {
    background: #eff6ff;
    border-color: #2563eb;

    .NetworkSelect__contentBox {
      border-color: #bfdbfe;
    }
  }

  &--disabled {
    opacity: 0.4;
  }
}
