.NetworkSelect {
  &:not(&--connected) {
    .NetworkSelect__networks {
      filter: blur(4px);
      pointer-events: none;
    }
  }

  &__footerLink {
    text-align: center;
    margin-top: 1.5em;
    font-size: 0.8em;
    color: #373e98;
    width: 100%;

    &:hover {
      text-decoration: underline;
    }
  }
}

.networkSwitcher__buttonContainer {
  @media screen and (max-width: 710px) {
    width: auto;

    span {
      display: none;
    }

    .button.networkSwitcher {
      padding: 0 6px;
      width: 40px;

      .avatar {
        margin-right: 0;
      }
    }
  }
}
