.Leaderboard {
  &__TabControl {
    margin-top: 0 !important;

    .SegmentedControl__wrap {
      @media all and (max-width: 600px) {
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr !important;
      }
    }
    .SegmentedControl__item {
      padding: 9px 0;

      @media all and (max-width: 767px) {
        padding: 9px 4px;
      }

      &.SegmentedControl__item--active {
        @media all and (max-width: 767px) {
          background: #ffffff;
          box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }
    .SegmentedControl__item--slider {
      @media all and (max-width: 767px) {
        display: none;
      }
    }
  }
}