@import "@unioncredit/ui/src/variables";

.ProfileInner {
  .WriteOffButton {
    background: $red500;

    &:hover {
      background: $red600;
    }
  }

  &__avatar {
    position: relative;

    &__network {
      position: absolute;
      right: -8px;
      bottom: 0;
    }
  }
}
