@import "@unioncredit/ui/src/variables";

.ProfileInner {
  .WriteOffButton {
    background: $red500;

    &:hover {
      background: $red600;
    }
  }

  &__BadgeRow {
    .badge.badge--grey {
      border: 1px solid $grey200;
    }
  }

  &__avatar {
    position: relative;

    &__network {
      position: absolute;
      right: -8px;
      bottom: 0;
    }
  }
}
