@import "@rainbow-me/rainbowkit/styles.css";
@import "@unioncredit/ui/src/variables";
@import "@unioncredit/ui/lib";
@import "./variables.scss";

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-color: $grey50;

  &.white-background {
    background-color: white;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

a {
  color: unset;
  text-decoration: unset;
}

*[contenteditable="true"] {
  outline: none;
  min-width: 100%;
}

.empty-state {
  a {
    color: #3b82f6;
  }
}

.backButton ~ .modal__title {
  width: 100%;
  position: absolute;
  left: 0;
}

.label--clickable,
.badge--clickable {
  cursor: pointer;
}

.TableContainer {
  width: 100%;
  overflow: auto;
}

.layout-header {
  padding: 16px 0;
  margin-bottom: 24px;

  @media screen and (max-width: $mobileWidth) {
    margin-bottom: 0;
  }
}

.fillPath path {
  fill: inherit;
}
