@import "@rainbow-me/rainbowkit/styles.css";
@import "@unioncredit/ui/lib";

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-color: #fff;
}

a {
  color: unset;
  text-decoration: unset;
}

*[contenteditable="true"] {
  outline: none;
  min-width: 100%;
}

.empty-state {
  a {
    color: #3b82f6;
  }
}

.backButton ~ .modal__title {
  width: 100%;
  position: absolute;
  left: 0;
}

.badge--clickable {
  cursor: pointer;
}

.TableContainer {
  width: 100%;
  overflow: auto;
}
